fastapi==0.141.1
uvicorn[standard]==0.52.3
redis==8.1.0
pydantic==2.13.4

# --- OpenTelemetry ---
opentelemetry-distro==0.65b0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation-fastapi==0.65b0
opentelemetry-instrumentation-redis==0.65b0
opentelemetry-instrumentation-logging==0.65b0
opentelemetry-instrumentation-system-metrics==0.65b0
